doctype html
html(lang=config.language)
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        block title
        != css('css/app', 'css/foundation-icons/foundation-icons')
    body
        header#header
            div.top-bar
                div.toolbar
                    a.fi-rss(href=url_for('/atom.xml'))
                    a.fi-magnifying-glass.not-ready
                ul.site-title-area
                    li.site-title: span: a(href= url_for('/'))= config.title
                    li.site-subtitle: span= '- ' + config.subtitle
        div.container
            section#main
                block content
            aside#sidebar
                div.widgets
                    if config.author_additional
                        section.widget.me
                            img.avatar(src=url_for('/images/avatar.png'))
                            div.introduction= config.author_additional.introduction.trim()
                            div.social-media
                                a.fi-mail(href='mailto:' + config.author_additional.email)
                                a.fi-social-skype(href='skype:' + config.author_additional.skype + '?add')
                                a.fi-social-linkedin(href=config.author_additional.linkedin, target='_blank')
                                a.fi-social-github(href=config.author_additional.github, target='_blank')
                    section.widget.categories
                        div.fi-list.list-name 分类
                        != list_categories()
                    section.widget.recent
                        div.fi-list.list-name 近期文章
                        != list_posts()
                    section.widget.all-tags
                        div.fi-list.list-name 标签
                        != list_tags({ show_count: false })
                    section.widget.archives
                        div.fi-list.list-name 归档
                        != list_archives({ format: 'YYYY年M月' })
        footer#footer
            div.bottom-bar
                div.copyright SparkShining版权所有

        script(type='text/javascript')
            != 'var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id=\'cnzz_stat_icon_1260075268\'%3E%3C/span%3E%3Cscript src=\'" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260075268\' type=\'text/javascript\'%3E%3C/script%3E"));'
