extends _layout

block title
    title= config.title

block content
    div.articles
        each post in page.posts.data
            section.article
                h1: a.title(href=url_for(post.path))= post.title
                div.create-date
                    div.date= date(post.date, 'D')
                    div.year-and-month= date(post.date, 'YYYY年M月')

                if (post.excerpt || post.content || '').trim()
                    div.summary
                        != post.excerpt || post.content
                        if post.excerpt
                            br
                            a(href=url_for(post.path))= '更多内容 》'
                if post.tags && post.tags.length
                    div.article-tags
                        span 标签：
                        != list_tags(post.tags, {show_count: false})

    nav.page-nav
        != paginator({ prev_text: '<< 上一页', next_text: '下一页 >>' })