extends _layout
block title
    title= page.title + ' - ' + config.title
block content
    if page.galleryImage
        img.gallery(src=page.galleryImage, role='presentation')
    h1.title= page.title
    section.categories-and-tags
        span 本文发表于
        != list_categories(page.categories, { style: 'text', show_count:false, separator: '、' })
        span 栏目，标签：
        != list_tags(page.tags, { style: 'text', show_count:false, separator: '、' })
    section.main-content
        != page.content

    section.copyright
        if page.noRedistribute
            span 本文章版权声明：非作者书面同意禁止转载
        else
            span 本文章版权声明：自由转载-非商用-非衍生-保持署名（
            a(href='http://creativecommons.org/licenses/by-nd/4.0/', target='_blank') 知识共享Attribution-NoDerivatives 4.0 国际许可协议
            span ）。原文地址：
            a(href=config.url + url_for(page.path))= config.url + url_for(page.path)

    if page.prev || page.next
        section.content-neighbors-link
            if page.next
                a.next-link(href=url_for(page.next.path))= '<< 旧一篇: ' + page.next.title
            if page.prev
                a.prev-link(href=url_for(page.prev.path))= '新一篇: ' + page.prev.title + ' >>'

    if page.comments
        div.ds-thread(data-thread-key=page.slug, data-title=page.title, data-url=(config.url + url_for(page.path)))
        script(type='text/javascript') var duoshuoQuery = {short_name: "sparkshining"};
        script(type='text/javascript', async, src='//static.duoshuo.com/embed.js', charset='UTF-8')
