@import "settings";
@import "_foundation-import/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//
// "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

$theme-color: #548235;
$sidebar-widget-color: #C5E0B4;
$article-sub-color: #A6A6A6;
$article-border-color: #5B9BD5;
$tool-color: $jet;
$tool-hover-color: mix($tool-color, $white, 50%);

// Whole page layout
// Let header and footer within grid
#header, #footer {
  @extend .contain-to-grid;
}

.container {
  @extend .row;
  @extend .small-uncollapse;

  #main {
    @extend .columns;
    @extend .small-12;
    @extend .large-9;
    margin: rem-calc(20 0);
  }

  #sidebar {
    @extend .columns;
    @extend .small-12;
    @extend .large-3;
    margin: rem-calc(20 0);

    .widgets {
      @extend .row;

      .widget {
        @extend .columns;
        @extend .small-12;
        @extend .medium-6;
        @extend .large-12;

        margin: rem-calc(10 0);

        &.me {
          @extend .medium-12;
        }
      }
    }
  }
}

$main-separate-border: 2pt solid $theme-color;

// Header part
#header .top-bar {
  border-bottom: $main-separate-border;

  .site-title-area {
    @extend .title-area;

    padding: 0 $topbar-link-padding;

    .site-title a {
      min-width: rem-calc(90);
    }

    .site-title a, .site-subtitle {
      color: $body-font-color
    }

    li {
      @extend .name;
      float: $default-float;
    }

    .site-subtitle span {
      font-size: $topbar-title-font-size - rem-calc(8);
    }
  }

  .toolbar {
    float: $opposite-direction;

    font-size: $topbar-title-font-size;
    padding: 0 $topbar-link-padding;

    a {
      @extend .item;
      width: rem-calc(35);
      display: inline-block;
      text-align: center;
      color: $tool-color;

      &:hover {
        color: $tool-hover-color;
      }
    }
  }
}

// Footer part
#footer .bottom-bar {
  @extend .top-bar;
  border-top: $main-separate-border;
  overflow: visible;

  &:before {
    content: '';
    position: absolute;
    z-index: -10;
    opacity: 0.2;
    #{$opposite-direction}: rem-calc(20);
    top: rem-calc(-262);
    width: rem-calc(400);
    height: rem-calc(300);
    background-image: url('../images/corner-bg.png');
    background-size: contain;
  }

  .copyright {
    float: $opposite-direction;
  }
}

.tag-list {
  @extend .inline-list;
  margin: 0;

  .tag-list-item {
    margin: rem-calc(0 5);
    text-decoration: underline;

    &:first-of-type {
      margin-#{$default-float}: 0;
    }
  }
}

$article-date-width: 92;

// Main part
// Title
#main h1 {
  margin-bottom: 0;
  text-transform: uppercase;

  &, a {
    color: $theme-color;
  }
}

#main {
  // Articles
  .articles {
    margin-#{$default-float}: rem-calc($article-date-width + 10) - ($column-gutter / 2);
    border-#{$default-float}: $main-separate-border;
  }

  .article {
    position: relative;
    margin: rem-calc(30 0);
    margin-#{$default-float}: rem-calc(10);
    padding: rem-calc(0 20);
    min-height: rem-calc(120);

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    .create-date {
      width: rem-calc($article-date-width);
      position: absolute;
      top: 0;
      #{$default-float}: rem-calc(-($article-date-width + 20));

      .date, .year-and-month {
        width: 100%;
        text-align: center;
      }

      .date {
        width: 100%;
        text-align: center;
        line-height: rem-calc(100);
        height: rem-calc(100);
        background-color: $theme-color;
        color: $white;
        font-size: 225%;
      }

      .year-and-month {
        color: $article-sub-color;
      }

      &:before {
        position: absolute;
        left: rem-calc($article-date-width - 10) + $column-gutter / 2 - rem-calc(1);
        top: rem-calc(20);
        content: '';
        border-radius: rem-calc(4);
        width: rem-calc(8);
        height: rem-calc(8);
        background-color: $theme-color;
      }
    }

    .article-tags {
      font-size: 0.75rem;
      line-height: $paragraph-line-height;

      span, .tag-list-link {
        font-size: 0.75rem;
        color: $article-sub-color;
      }

      span {
        float: $default-float;
      }
    }

    .summary {
      padding: rem-calc(10) 0;
      border-top: 1pt solid $article-border-color;

      // Override some style in content
      p:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .gallery {
    width: 100%;
    height: auto;
  }

  .main-content {
    margin-top: rem-calc(10);
  }

  .categories-and-tags {
    margin-top: rem-calc(10);
    font-weight: bold;
  }

  .copyright {
    font-weight: bold;
  }

  .content-neighbors-link {
    margin-top: rem-calc(15);

    .next-link {
      float: $default-float;
    }

    .prev-link {
      float: $opposite-direction;
    }
  }

  .ds-thread {
    margin-top: rem-calc(55);
  }

  .page-nav {
    margin-top: rem-calc(20);
    text-align: center;

    .prev {
      margin-#{$opposite-direction}: rem-calc(30);
    }
    .next {
      margin-#{$default-float}: rem-calc(30);
    }
    .page-number {
      margin: 0 rem-calc(10);
    }
  }
}


// Sidebar
#sidebar .widget{

  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    @extend .end;
  }

  &.me {
    .avatar {
      display: block;
      width: rem-calc(96);
      height: rem-calc(96);
      border: 1px solid $sidebar-widget-color;
      border-radius: rem-calc(48);
      margin: 0 auto;
      margin-bottom: rem-calc(10);

      @media #{$medium-only} {
        & {
          float: $default-float;
          margin-#{$opposite-direction}: rem-calc(15);
        }
      }
    }

    @media #{$medium-only} {
      .introduction {
        margin-top: rem-calc(20);
      }
    }

    @media #{$small-only} {
      .introduction {
        text-align: center;
      }
    }

    .social-media {
      margin-top: rem-calc(10);
      text-align: center;
      font-size: rem-calc(20);

      @media #{$medium-only} {
        & {
          text-align: inherit;
        }
      }

      a {
        width: rem-calc(40);
        display: inline-block;
        color: $tool-color;

        border-right: 1px solid $sidebar-widget-color;
        &:last-child {
          border-right: none;
        }

        &:hover {
          color: $tool-hover-color;
        }

        @media #{$medium-only} {
          & {
            text-align: center;
          }

          &:first-child {
            margin-#{$default-float}: rem-calc(-12);
          }
        }
      }
    }
  }

  .list-name {
    &:before {
      margin-#{$opposite-direction}: rem-calc(10);
    }
    border-bottom: 1pt solid $sidebar-widget-color;
    padding: rem-calc(10 0);
  }

  .archive-list-count, .category-list-count {
    &:before {
      content: '(';
    }

    &:after {
      content: ')';
    }
  }

  ul {
    padding-top: rem-calc(15);
  }

  &.all-tags {
    padding-bottom: rem-calc(20);
  }
}

.not-ready {
  display:none !important;
}


// Style for code
// https://github.com/chriskempson/tomorrow-theme
$code-background: #2d2d2d;
$code-current-line: #393939;
$code-selection: #515151;
$code-foreground: #cccccc;
$code-comment: #999999;
$code-red: #f2777a;
$code-orange: #f99157;
$code-yellow: #ffcc66;
$code-green: #99cc99;
$code-aqua: #66cccc;
$code-blue: #6699cc;
$code-purple: #cc99cc;
$code-line-number: #666;

.highlight {
  margin: 0;
  overflow: auto;
  background: $code-background;

  table {
    width: 100%;
    background: transparent;
    border: none;
    margin-bottom: 0;

    tr td {
      color: $code-foreground;
      font-size: 1rem;
    }
  }

  pre {
    border: none;
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  }

  .gutter {
    width: rem-calc(80);

    pre {
      text-align: $opposite-direction;
      padding-#{$opposite-direction}: rem-calc(20);
      color: $code-line-number;
    }
  }

  .comment, .title {
    color: $code-comment;
  }
  .variable, .attribute, .tag, .regexp, .ruby .constant,
  .xml .tag .title, .xml .pi, .xml .doctype, .html .doctype,
  .css .id, .css .class, .css .pseudo,
  .number, .preprocessor, .built_in, .literal, .params, .constant {
    color: $code-orange;
  }
  .class, .ruby .class .title, .css .rules .attribute {
    color: $code-green;
  }
  .string, .value, .inheritance, .header, .ruby .symbol, .xml .cdata {
    color: $code-green;
  }
  .css .hexcolor {
    color: $code-aqua;
  }
  .function, .python .decorator, .python .tile, .ruby .function .title, .ruby .title .keyword,
  .perl .sub, .javascript .title, .coffeescript .title {
    color: $code-blue;
  }
  .keyword, .javascript .function {
    color: $code-purple;
  }
}